<div class="join_us_section">
    <div class="row align-items-center justify-content-center">
        <div class="col-10 mx-auto">
            <div class="join_us_banner text-center">

               <div class="col-8 mx-auto">
                <div class="join_heading">
                    <h1>Join Us Now</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore dolor tempora quas et eligendi
                         perferendis ducimus ab sit reiciendis doloribus! Eius voluptatem facilis minima sapiente error quod delectus mollitia! Cumque.</p>
                </div>
                <div class="get_start_btn">
                    <button class="btn get-start"> Let Get Start</button> 

                </div>
               </div>

            </div>

        </div>
    </div>
</div>