<div class="looks_section">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="col-9 mx-auto">
                <div class="text_section">
                    <h1 class="font-bold">
                        Make Your Looks Awesome
                    </h1>
                    <div class="small_text font-regular">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy</p>
                    </div>
                    <div class="appointment_btn">
                        <button type="submit" class="btn primary-btn font-semi-bold">Book Appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="img_sec">
                <img src="assets/img/main_sec.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="salons-section">
    <app-salons-list></app-salons-list>

</div>
<div class="our_section">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 padding_section d-flex align-items-center justify-content-center">
                    <div class="service_sec">
                        <h1 class="font-bold">Our Services</h1>
                        <div class="view_btn">
                            <button type="submit" class="btn secondry-btn font-medium" >View All</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Haircuts & Styling</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card padding_section d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Beard Treatment</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Coloring Services</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 padding_section service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Herbal Massage</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Manicure</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 padding_section service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Pedicure</h5>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 service_card d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Stone Spa </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-11 mx-auto">
<app-join-us-now></app-join-us-now>

    </div>
</div>

<div class="our_customers">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="heading_text text-center">
                <h1 class="font-bold heading">Our Happy Customers</h1>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 service_card  d-flex align-items-center justify-content-center">
                    <div class=" text-center">
                        <img src="assets/img/herbel.png" alt="">
                        <h5 class="font-semi-bold style_text">Haircuts & Styling</h5>
                        <p class="small_text font-regular">Animal owner who understands pet stress Considerable health insurance experience 
                            Self-funded the MVP and developed the telehealth platform Brought two part-time veterinarians onboard</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-blog-list></app-blog-list>
<app-footer></app-footer>
