.img_sec img {
    width: 100%;
}

.text_section h1 {
    letter-spacing: 3.26px;
    line-height: 85px;
}

.small_text p {
    letter-spacing: .52px;
    line-height: 35px;
}

.service_card {
    margin: 10px;
    width: 23.8%;
    box-shadow: 0px 0px 49px #00000017;
    border-radius: 5px;
    opacity: 1;
    min-height: 300px;
    max-height: 300px;
}
.salons-section{
    padding-top: 2rem;
}

.our_section {
    .padding_section {
        margin-top: 4rem;
    }

    .style_text {
        text-align: center;
        letter-spacing: 0.53px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
        padding-top: 2rem;

    }
}

// customer
.our_customers {
    padding-top: 4rem;

    .heading {
        letter-spacing: 2.03px;
        line-height: 53px;
    }

    .service_card {
        box-shadow: 0px 0px 49px #00000017;
        border-radius: 5px;
        opacity: 1;
        min-height: 500px;
        max-height: 500px;
        .style_text{
            padding-top: 2rem;
        color: #FE594E;

        }

        .small_text {
            line-height: 47px;
        }
    }
}

@media screen and (max-width:576px) {
    .our_section {

        .service_card {
            width: 100%;
            margin-bottom: 1rem;
        }

        .padding_section {
            margin-top: 0rem;
        }

    }

}