.main_section{
    padding: 1rem;
}
.top_heading {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    .heading{
        letter-spacing: 1.73px;
        line-height: 45px;
        // border-bottom: 3px solid #FE594E;
    }
 
   
}
.sub_section{
    padding-top: 1rem;
}
.text_section{
    padding-left: 1rem;
}
.img_sec img {
    min-height: 270px;
    max-height: 270px;
    width: 100%;
}
.star_text{
    .fa{
        color: #FE594E;
        padding-left: .5rem;
    }
}

.card {
    margin-bottom: 1rem;
    max-height: 426px;
    min-height: 426px;
}
.text-single-line{
    opacity: 0.45;
}