<div class="row">
    <div class="col-11 mx-auto">
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-sm-12 col-md-7 top_heading">
            <div class="d-flex justify-content-start">
              <h2 class="font-bold heading">Top Saloons</h2>
            </div>
            <div class="view_btn d-flex justify-content-end">
              <button type="submit" class="btn secondry-btn font-medium">View All</button>
            </div>
          </div>
        </div>
      <div class="row  align-items-start" >
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="card  row align-items-start">
            <div class="main_section">
              <div class="img_sec">
                <img src="assets/img/large_img.png" alt="">
              </div>
              <div class="sub_section">
                <div class="d-flex">
                  <div class="small_img">
                    <img src="assets/img/small_img.png" alt="">
                  </div>
                  <div class="text_section">
                    <div class="heading_text">
                      <h3>Serenity Salon</h3>
                    </div>
                    <div class="small_text">
                      <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road, Oniru Estate, Victoria Island ,
                        Lagos , Nigeria.</p>
                    </div>
                    <div class="star_text">
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="card">
            <div class="main_section">
              <div class="img_sec">
                <img src="assets/img/large_img_2.png" alt="">
              </div>
              <div class="sub_section">
                <div class="d-flex">
                  <div class="small_img">
                    <img src="assets/img/small_img_2.png" alt="">
                  </div>
                  <div class="text_section">
                    <div class="heading_text">
                      <h3>Serenity Salon</h3>
                    </div>
                    <div class="small_text">
                      <p class="font-medium text-single-line">Landmark Towers , 5B Water Corporation Road, Oniru Estate, Victoria Island ,
                        Lagos , Nigeria.</p>
                    </div>
                    <div class="star_text">
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="card d-flex align">
            <div class="main_section">
              <div class="img_sec">
                <img src="assets/img/large_img.png" alt="">
              </div>
              <div class="sub_section">
                <div class="d-flex">
                  <div class="small_img">
                    <img src="assets/img/small_img_3.png" alt="">
                  </div>
                  <div class="text_section">
                    <div class="heading_text">
                      <h3>Serenity Salon</h3>
                    </div>
                    <div class="small_text text-single-line">
                      <p class="font-medium">Landmark Towers , 5B Water Corporation Road, Oniru Estate, Victoria Island ,
                        Lagos , Nigeria.</p>
                    </div>
                    <div class="star_text">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


