
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@font-face {
    font-family: 'Euclid_Circular_B_font_regular';
    src: url('./fonts/Euclid\ Circular\ B\ Regular.ttf');
}
@font-face {
    font-family: 'Euclid_Circular_B_font_bold';
    src: url('./fonts/Euclid\ Circular\ B\ Bold.ttf');
}
@font-face {
    font-family: 'Euclid_Circular_B_font_semi_bold';
    src: url('./fonts/Euclid\ Circular\ B\ SemiBold.ttf');
}
@font-face {
    font-family: 'Euclid_Circular_B_font_medium';
    src: url('./fonts/Euclid\ Circular\ B\ Medium.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
.font-regular{
    font-family: 'Euclid_Circular_B_font_regular';
}
.font-bold{
    font-family: 'Euclid_Circular_B_font_bold';
}
.font-semi-bold{
    font-family: 'Euclid_Circular_B_font_semi_bold';
}
.font-medium{
    font-family: 'Euclid_Circular_B_font_medium';
}

$primary-color: #FE594E;


.primary-btn {
    padding: .4rem 3rem;
    background: #FE594E;
    color: white;
    box-shadow: 0px 0px 17px #FE594E3B;
    border-radius: 5px;
    letter-spacing: 0.52px;
    font:  18px/22px 'Euclid_Circular_B_font_medium';

}
.primary-btn:hover {
    background: white;
    color: #FE594E;
}
.secondry-btn {
    border: 1px solid #FE594E;
    padding: .4rem 3rem;
    color: #FE594E;
    box-shadow: 0px 0px 17px #FE594E3B;
    border-radius: 5px;
    letter-spacing: 0.52px;
    font:  18px/22px 'Euclid_Circular_B_font_medium';

}
.secondry-btn:hover {
    background: #FE594E;
    color: white;
}

.card{
    box-shadow: 0px 0px 49px #12045317;
    opacity: 1;
}

.text-single-line {
    overflow: hidden;   
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
