
<footer class="section">
    <div class="footer_section">
        <section>
            <div class="log_sec text-center">
                <h1 style="color: white;">Logo</h1>
                <img src="assets/img/logo.png" alt="">
              </div>
              <div class="meanu_sec">
                <ul>
                    <li>Home</li>
                    <li>Salons</li>
                    <li>Partners</li>
                    <li>Abouts Us</li>
                    <li>Contact</li>
                    <li>Faq</li>
                </ul>
              </div>
          </section>
          
    </div>
    <div class="share_app_section">
        <div class="row">
            <div class="col-9 x-auto" style="border: 1px solid red;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="start_text">
                            <h6>So What's Next ?</h6>
                            <h1>Are You Ready? Let's Start!</h1>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="d-flex">
                            <div class="app_store">
                                <button class="btn primary-btn"> App Store</button>

                            </div>
                            <div class="google_store">
                                <button class="btn primary-btn"> Google Store</button>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
      </div>

</footer>