.section{
    position: relative;
    .share_app_section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 90%;
        top: -50px;
        position: absolute;
        border: 1px solid green;
        transform: translate(0px, 0px);
    }

}
.footer_section{
    background-color: #FE594E;
        min-height: 400px;
        max-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        .meanu_sec{
            ul{
                display:flex ;
                flex-wrap: wrap;
                list-style: none;
                li{
    padding: 0 1rem;
    color: #ffffff;

                }
            }
        }
     

}