.banner_section {
    // background:  url('/assets/img/banner_salons.png')  ;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 400px;
    max-height: 400px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: start;

    .heading_text {
        position: relative;
        left: 90px;
    }

    .heading {
        letter-spacing: 2.59px;
        // color: #FFFFFF;
        color: black;
        opacity: 1;
        border-bottom: 3px solid #FE594E;
    }
}


