<div class="banner_section">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 mx-auto">
            <div class="heading_text">
                <h1 class="heading font-bold">Salons</h1>

                <div class="small_text">
                    <p class="font-medium">Home | Saloons</p>
                </div>
            </div>
        </div>
    </div>

</div>

<app-join-us-now></app-join-us-now>
<app-footer></app-footer>